{
  "quiltt": {
    "apiSecret": "your_quiltt_api_key_secret_here",
    "connectorId": "your_quiltt_connector_id_here",
    "profileId": ""
  },
  "actual": {
    "dataDir": "/app/actual-data",
    "serverURL": "http://your-actual-server:5006",
    "password": "your_actual_password",
    "syncId": "your_budget_sync_id"
  },
  "mappings": [
    {
      "id": "m_example",
      "name": "My Checking",
      "connectionId": "conn_xxxxxxxxxxxx",
      "quilttAccountId": "acct_xxxxxxxxxxxx",
      "actualAccountId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    }
  ],
  "sync": {
    "daysToSync": 7,
    "cronSchedule": "0 8 * * *"
  }
}
